* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: muli, serif, sans-serif;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards {
  column-count: 2;
  padding: 16px;
  margin: 1rem 0 0;
}

.card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 2px 2px 4px 0 #d1d1d1;
  display: inline-block;
  margin: 0 0 1rem;
  padding: 1rem;
  width: 100%;
}